# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# IDE
.vscode

# Local env files
.env
.env.*
!.env.example

# OTR
darkstage-design-spec.md
concept-darkstage (trying4_i_hate_figma).html
# мне западло без клода всякую мелочевку рутинную делать
.claude

список фиксов.txt
юридическая залупа/
commits.txt
